body {
  background-color: #f2f2f2;
  text-align: center;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 16px;
    color: #333;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
header {
  position: fixed;
  width: 100%;
    background-color: #222;
    height: 6px;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #333;
}
/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */
   #albums{
   	margin-top: 0px;
   	padding-top:20px;
   	text-align:center;
     background-color: #333;
   	min-height: 800px;
   	width: 100%;

       -webkit-background-size: 100%;
       -moz-background-size: 100%;
       -o-background-size: 100%;
       background-size: 100%;

       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }

   #artist {
   	margin-top: 0px;
   	padding-top:20px;
   	text-align:center;
     background-color: #333;
   	min-height: 800px;
   	width: 100%;

       -webkit-background-size: 100%;
       -moz-background-size: 100%;
       -o-background-size: 100%;
       background-size: 100%;

       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }

#headerwrap {
	margin-top: 0px;
	padding-top:20px;
	text-align:center;
  background-color: #333;
	min-height: 800px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 150px;
	color: white;
	font-size: 70px;
	font-weight: 700;
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
	font-weight: 100;
    font-family: 'EB Garamond', serif;
    font-style: oblique;
}


#f {
	background: #222;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center
}

#f h3 {
	color: white;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
}

#f i {
	font-size: 8px;
	color: #fff;
  padding: 3px;
}

#f p {
	font-size: 20px;
	color: #f2f2f2;
}

#f img {
	text-align: center;
}



ul.topnav {
    position: fixed;
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 4px;
    overflow: hidden;
    background-color: #222;
}
ul.topnav li {
  display: inline-block;
}

ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: #111;
}
ul.topnav li.right {
  float: right;
}
@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

#searchResults {
  display: inline;
  color: white;
}
::-webkit-input-placeholder {
  color: white;
}
#searchbox {
    width: 600px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: #555;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchbox:focus {
    width: 100%;
}

#formInput {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#artist-display {
  background-color: #333;
  color: white;
  height: 1220px;
  float: top;
  text-align: center;
  width: 100%;
  padding-top: 30px;

}
.container {
    background-color: #333;
    padding: 10px;
    margin: 0 auto;
    margin-top: 0px;
  	padding-top:20px;
}

.review-container {
    overflow-y: scroll;
    background-color: #333;
    padding: 10px;
    margin: 0 auto;
    margin-top: 70px;
  	padding-top:20px;
    width: 75%;
    height: 600px;
    border: solid;
    border-color: #999;
    float: right;
}

.review {
    background-color: #555;
    border: 2px solid #666;
    border-radius: 5px;
    padding: 20px;
    margin: 15px 0;
    width: 100%;
}
.user-review {
  float: right;
  text-align: center;
}
.user-review-container {
  background-color: #333;
  padding: 0px auto;
  margin: 0 auto;
  padding-top: 15px;
  width: 75%;
  height: 180px;
  border: solid;
  border-color: #999;
  float: right;
}
#comment-area {
  resize: none;
  overflow-x: hidden;
  width: 800px;
  height: 120px;
  box-sizing: border-box;
  border: 2px solid #555;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: #555;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;


}
#review-form{
}

.time-right {
    float: right;
    color: #aaa;
}
